body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(3,169,244);
background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(97,97,255,1) 32%, rgba(0,212,255,1) 100%);
}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}
nav{
  background-color: #2F4F4F !important;
}
.input-field label {
  color: white;
}

.input-field input[type=text]:focus + label {
  color: white;
} 

.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: white;
}
input#ciudad {
  margin-top: 1rem;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
  /*background-color: #03a9f4;*/
}
.mensaje {
  text-align: center;
  font-size: 2rem;
}
.buscador i {
  width: 100%;
}
.error {
  padding: 1rem!important;
  color:white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}
.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}
.temperatura {
  font-size: 2rem!important
}
.temperatura span {
  font-size: 1rem!important;
  vertical-align: super;
}
p {
  border-bottom: 1px solid darkgray;
}
.clima-form {
  box-shadow: 2px 4px 5px 5px;
  margin-bottom: 1rem;
  background-color: #03a9f4;
}
form {
  padding-top: 2rem;
}
.btn-block {
  display: block!important;
}

.error {
  padding: 1rem!important;
  text-align: center!important;
  color: #FFF!important;
}